<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="350px">
        <!-- Grafico 1 -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                <span>Grafico 1</span>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <p-chart type="bar" height="250" [data]="columnData" [options]="columnOptions"></p-chart>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- Grafico 2 -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                <span>Grafico 2</span>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <p-chart type="bar" height="265" [data]="horizontalData" [options]="horizontalOptions"></p-chart>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>

         <!-- Grafico 3 -->
         <mat-grid-tile [colspan]="1" [rowspan]="2">
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                <span>Grafico 3</span>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <p-chart type="pie" height="600" [data]="pieData" [options]="pieOptions"></p-chart>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <!-- Grafico 4 -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>
                <span>Grafico 4</span>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <p-chart type="line" height="265" [data]="lineData" [options]="lineOptions"></p-chart>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  