<mat-grid-list class="grid-list" cols="4" rowHeight="3:1">
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/relatorios" routerLinkActive="active">Relatórios</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" routerLink="/financeiro" routerLinkActive="active">Financeiro</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Tabelas</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Clientes</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Vendas</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Estoque</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Configurações</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Ajuda/FAQ</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Notificações</button>
  </mat-grid-tile>
</mat-grid-list>